<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Nodejs</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Crud Node JS mongoDB</a>
                <a href="https://youtu.be/VxRXlUrV6y0" class="navbar-brand">Video del tutorial</a>
            
         </nav>

    <h1 style="text-align: center; padding-top: 20px;">Actualizar(Esta  pagina esa utilizando mongoDB)</h1>

    <div class="container mt-5">
        <div class="row"  style="margin: auto;">
            <div class="col-md-5">
                <div class="card"  style="padding: auto">
                    <div class="card-body" >
                        <% if(data){ %>
                        <form class="" action="/update/user/<%= data.id %>"  method="POST">
                            <div class="form-group">
                                <input type="text" name="name" placeholder="nombre" required value="<%= data.name  %>"  class="form-control">

                            </div>
                            <div class="form-group">
                                <input type="text" name="address" placeholder="Dirrección" required value="<%= data.address %>" class="form-control">

                            </div>
                            <div class="form-group">
                                <input type="text" name="phone" placeholder="telefono movil" required value="<%= data.phone %>" class="form-control">

                            </div>
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </form>

                        <% }%>
                    </div>
                </div>
            </div>
        </div>
    </div>




    </body>
</html>